body {
  margin: 0;
  background: #ffeaf2;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
  text-align: center;
}

.hidden { display: none; }

#scene {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* MESSAGE */
#message {
  font-size: 28px;
  max-width: 80%;
  opacity: 0;
  transition: opacity 1s;
}

#message.show { opacity: 1; }

/* CAKE */
#cake-scene {
  height: 100vh;
  width: 100%;
  position: relative;
}
.cake-wrap {
  position: relative;
}

#cake {
  position:absolute
  width: 240px;             /* smaller cake */
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#candle {
  position:fixed;
  width: 40px;
  top: -60px;              /* adjusted for tall candle */
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

#flame {
  position: absolute;
  width: 55px;
  top: -112px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: flicker 1.2s infinite alternate;
}

#birthday-text {
  position: absolute;
  top: -30px;
  width: 100%;
  text-align: center;
  color: #d81b60;
  font-family:Arial, Helvetica, sans-serif;
}
.birthday-en {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 6px;
}

.birthday-jp {
  font-size: 26px;
  font-weight: 500;
}

.cake-container {
  position: absolute;
  top: 55%;                 /* pushes cake lower */
  left: 50%;
  transform: translate(-50%, -50%);
}


@keyframes flicker {
  from { opacity: 1; transform: translateX(-50%) scale(1); }
  to   { opacity: 0.85; transform: translateX(-50%) scale(1.08); }
}  

/* SLICES */
#slices {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  gap: 170px;
  top: -200px;
}

.slice, .sticker {
  width: 290px;
  cursor: pointer;
}

/* GIFT */
#gift {
  width: 220px;
  cursor: pointer;
}

/* FINAL */
.heart-bg {
  background: pink;
  width: 420px;
  padding: 30px;
  border-radius: 50% 50% 45% 45%;
  position: relative;
}

.final-img {
  width: 160px;
}

.heart-bg p {
  font-size: 18px;
  margin-top: 15px;
}

/* BALLOONS */
.balloon {
  position: fixed;
  width: 60px;
  animation: float 6s linear infinite;
}

@keyframes float {
  from { bottom: -100px; }
  to { bottom: 110vh; }
}
